<.flash_group flash={@flash} />
<div>
  <h1>Login</h1>
  <form method="post">
    <input type="hidden" value={get_csrf_token()} name="_csrf_token"/>
    <label>username</label><br>
    <input type="text" name="uname"/><br>
    <button type="submit">Start chatting</button>
  </form>
</div>