<div>
  <div class="grid grid-cols-2 bg-blue-300">
    <div class="">
      <%= live_render(
        @socket,
        PotionTalkWeb.ChatLive.List,
        id: "chat_list"
      ) %>
    </div>
    <div class="">
      <%= live_render(
        @socket,
        PotionTalkWeb.ChatLive.Chat,
        id: @chat_id,
        session: %{"username" => @username, "chat_id" => @chat_id}
      ) %>
    </div>
  </div>
</div>