<div>
  <.flash_group flash={@flash} />
  <h1>Chats</h1>
  <div class="chats">
    <%= if @chats && length(@chats) > 0 do %>
      <%= for c <- @chats do %>
        <p phx-click="change_chat" phx-value-content={c.id}><b><%= c.id %></b></p>
      <% end %>
    <% else %>
      <p>No chats available. Please check back later!</p>
    <% end %>
    <.live_component module={PotionTalkWeb.ChatLive.CreateChat} id="create_chat"/>
  </div>
</div>